{% extends 'base.html' %}

{% block body %}

  <h1>Comunidade Impressionadora - Hashtag Treinamentos</h1>
  <h2>Alunos, experts e a galera da Hashtag em um só lugar</h2>
  <hr>
  {% for post in posts %}
    <div class="row border mt-4 p-3 post">
      <div class="col col-3">
        <div class="image pe-2"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200"> </div>
        <strong>{{ post.autor.username }}</strong>
        <div class="row justify-content-center">
          {% if 'Não informado' in post.autor.cursos or post.autor.cursos == '' %}
              <p>Não está cadastrado em nenhum curso.</p>
          {% else %}
              {% for curso in post.autor.cursos.split(';') %}
                  <button type="button" class="btn btn-success btn-sm mt-2" disabled>{{ curso }}</button>
              {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col col-9">
        <a href="{{ url_for('exibir_post', post_id=post.id) }}" style="text-decoration: none"><h3>{{ post.titulo }}</h3></a>
        <p>{{ post.corpo }}</p>
      </div>
    </div>
  {% endfor %}

{% endblock %}